html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.maps-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.mapcss{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-right: 7px;
}
.mapcss:last-child{
    margin-right: 0;
}
.canvas-container{
   
}           
canvas{
    z-index: 9999 !important;
}       